.container {
  min-height: 100vh;
  /*padding: 0 0.5rem;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  height: 100vh;
}

.main {
  /*padding: 5rem 0;
  /*flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  min-height: 81.5vh;
  width: 100%;
  background-color: ;
}

.footer {
  width: 100%;
  /*height: ;*/
  background-color: #F4F6F6;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center;
  color:gray;
}


.grid {
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;*/
  width: 100%;
  height: 81.5vh;
  padding:20px;
  /*margin-top: 3rem;*/
  margin:auto;
  background:#E8F8F5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
